<%= render "shared/search_field/search_field_holder" %>
<table class="table">
  <tbody>
    <%= render "posts/posts", posts: @questions %>
  </tbody>
</table>
<%= render "shared/pagination", posts: @questions %>
