<ul class="nav nav-list left">
  <li class="active"><a href="#">Results</a></li>
  <li><a href="#">Unanswered</a></li>
  <li><a href="#">Top</a></li>
  <li><a href="#">Hot</a></li>
  <li><a href="#">Mine</a></li>
  <li><a href="#">Recent</a></li>
</ul>
