<div class="comment">
  <div class="comment_content">
    <%= link_to comment.user.name %> - <%= comment.content %> <%= t('.commented', time_ago: time_ago_in_words(comment.created_at)) %>
  </div>
</div>
