<div class="comment row-fluid">
  <div class="comment_content span11">
    <%= link_to comment.user.name, comment.user %> - <%= comment.content %> - <%= t('.commented', time_ago: time_ago_in_words(comment.created_at)) %>
  </div>
  <div class="span1">
    <% if current_user && current_user.own_post?(comment) %>
      <div class="post_controls">
        <span class="post_control">
          <%= link_to comment, :method => :delete, :class => 'remove-comment' do %>
            <i class="icon-remove"></i>
          <% end %>
        </span>
      </div>
    <% end %>
  </div>
</div>
