<div class="row-fluid">
  <div class="span8">
    <%= render 'shared/search_field/search_field' %>
  </div>
  <div class="span4">
    <%= link_to t('.ask'), new_question_path, :class => "btn btn-success pull-right" %>
  </div>
</div>
