<%= render "users/search_field/search_field_holder" %>
<div>
  <% @users.each_with_index do |user, i| %>
    <%= render 'user_cell', user: user%>
  <% end %>
</div>

<%= render "shared/pagination", collection: @users %>
