<%= render 'user_cell', user: @user%>

<table class="table">
  <tbody>
    <%= render "posts/posts", posts: @user_posts %>
  </tbody>
</table>
<%= render "shared/pagination", collection: @user_posts %>
