<div class="container", id="container">
  <div class="row">
    <div>
      <div class="span2">
      </div>
      <div class="span8">
        <%= bootstrap_flash %>
        <%= yield %>
      </div>
      <div class="span2">
      </div>
    </div>
  </div><!--/row-->
</div> <!-- /container -->
