  <div class="row-fluid">
    <div>
      <div class="span2">
        hello
      </div>
      <div class="span8">
        <%= bootstrap_flash %>
        <%= yield %>
      </div>
      <div class="span2">
        hello
      </div>
    </div>
  </div><!--/row-->
