<footer>
  <div class="row-fluid">  
    <div class="span2"></div>
    <div class="span8 well-large small-grey-text">
      Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci veli
    </div>
    <div class="span2"></div>
  </div>
</footer>
