<footer>
  <div class="row-fluid">  
    <div class="span2"></div>
    <div class="span8 well-large small-grey-text footer">
      <div class="">
        <div class="span8">
          Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci veli
        </div>
        <div class="span4">
          <div class="fb-like" data-href="http://www.facebook.com/paanouplb" data-send="true" data-width="450" data-show-faces="true" data-font="arial"></div>
        </div>
      </div>
    </div>
    <div class="span2"></div>
  </div>
</footer>
