<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <%= render "shared/navbar/brand" %>
      <%= render "shared/navbar/user_links" %>  
    </div>
  </div>
</div>
