<%= form_for post, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <div class="controls">
      <%= f.text_area :content, :class => 'text_field', placeholder: t('.answer') %>
    </div>
  </div>
  <%= render 'answers/update_submit', f: f %>
<% end %>
