<div class="form-actions row-fluid">
  <div class="span6 pull-left">
    <%= f.submit t('.update'), :class => 'btn btn-violet btn-small update-answer' %>
    <%= link_to t('.cancel'),
              '#', :remote => true, :class => 'btn btn-cancel btn-small cancel-update' %>
  </div>
</div>
