
<div class="row">
  <div class="span1">
  </div>
  <div class="span9">
    <div id="sign_in_text">
     <%= link_to "Sign in with your facebook account.", omniauth_authorize_path(:user, "facebook") %>  
     <a href="#" class="btn btn-primary"><i class="icon-white icon-heart"></i> Bootstrap Button Generator</a>
    </div>
  </div>
  <div class="span2">
  </div>
</div>
