
<div class="row">
  <div class="span1">
  </div>
  <div class="span9">
    <div id="sign_in_text">
     <%= link_to t('general.sign_in_with_facebook'), user_omniauth_authorize_path(:facebook), :class => 'btn btn-facebook btn-large' %>  
    </div>
  </div>
  <div class="span2">
  </div>
</div>
