<div class="preview-div collapsed">
  <%=raw sanitize(simple_format(post.truncated_content), :tags => %w(br p) ) %>
</div>
<div class="preview-div expanded">
  <%=raw sanitize(simple_format(post.content), :tags => %w(br p)) %>
</div>
