<div class="post-title">
  <%= link_to post.type == "Question" ? t('.q') + post.title : t('.a') + post.becomes(Answer).question.title, "#{question_path(post.type == "Question" ? post : post.question)}##{post.id}" %>
</div>
