# Place all the behaviors and hooks related to the matching controller here.
# All this logic will automatically be available in application.js.
# You can use CoffeeScript in this file: http://jashkenas.github.com/coffee-script/


$ ->
  $(".comment").hover (-> 
    $(this).find('.post_controls').show()
  ), ->
    $(this).find('.post_controls').hide()

  

  $(".text_field.new_comment").autosize()

  $(".remove-comment").on "click", ->
    remove_comment_link = $(this)
    $.ajax
      url: remove_comment_link.attr('href') 
      type: "DELETE"
      dataType: "json"
      success: (data) ->
        remove_comment_link.closest(".comment").fadeOut()
    false

  $(document).on "keyup", ".text_field.new_comment", (e) ->
  #$(".text_field.new_comment").keyup (e) ->
    if e.which is 13    
      text_field = $(this)
      text_field.css('height', '28px')
      val = text_field.val()
      $(this).blur()
      form = $(this).closest("form")    
      $.ajax
        url: form.attr('action')
        type: "POST"
        dataType: "json"
        data: form.serialize()
        success: (data) ->
          console.log data
          text_field.closest(".span11.offset1.small-grey-text").
            find(".comments").append "<div class='comment row-fluid'><div class='comment_content span11'><a href='#'>" + data['name'] + "</a> - " + val + " - " + "<%= I18n.t('general.just_now') %></div><div class='span1'><div class='post_controls'><span class='post_control'><a href='/comments/160' class='remove-comment' data-method='delete' rel='nofollow'><i class='icon-remove'></i></a></div></div></div></div>"
      $(this).val('')
      e.preventDefault
      false
