<% posts.each do |post| %>
  <tr class = "search_result_row">
    <td class = "search_result_col number_col">
      <div class = "circle_base number_div vote_number_div">
        <%= post.reputation_for(:votes).to_i %>
      </div>
    </td>
    <td class = "search_result_col number_col">
      <div class = "circle_base number_div answer_number_div">
        9  
      </div>
    </td>
    <td class = "search_result_col content_col">
      <%= render 'title', post: post %> 
      <%= render 'preview', post: post %> 
      <%= render 'other', post: post %> 
    </td>
  </tr>
<% end %>
