<% posts.each do |post| %>
  <tr class = "search_result_row">
    <td class = "search_result_col content_col">
      <%= render 'reputations', post: post %>
      <%= render 'title', post: post %> 
      <%= render 'preview', post: post %> 
      <%= render 'other', post: post %> 
    </td>
  </tr>
<% end %>
