<% posts.each do |post| %>
  <tr class = "post_row">
    <td>
      <%= render 'reputations', post: post %>
      <%= render 'title', post: post %> 
      <%= render 'preview', post: post %> 
      <%= render 'other', post: post %> 
    </td>
  </tr>
<% end %>
