<div class="reputations_div">
  <span class="reputation_number">0</span><span class="votes_reputation_link"><%= "votes" %></span>
  <span class="reputation_number">0</span><span class="answers_reputation_link"><%= "answers" %></span>
</div>
