<%= render "shared/search_field/search_field_holder" %>
<table class="table">
  <tbody>
    <%= render "posts", posts: @posts %>
  </tbody>
</table>
<%= render "shared/pagination", collection: @posts%>
