<%= render "shared/search_field/search_field_holder" %>
<table class="table">
  <thead>
  </thead>
  <tbody>
    <%= render "shared/posts/posts", posts: @posts %>
  </tbody>
</table>
<%= render "shared/posts/pagination", posts: @posts%>
