<div class="container">
  <ul class="nav pull-right">
  <% if user_signed_in? %>
      <li class="dropdown">
        <a class="dropdown-toggle" role="buttom" data-toggle="dropdown" href="#">
          <%= current_user.name %>
          <b class="caret"></b>
        </a>
        <ul class="dropdown-menu" role="menu" aria-labelledby="drop3">
          <li role="presentation">
            <%= link_to t('.sign_out'), destroy_user_session_path, method: :delete, :role => "menuitem" %>
          </li>
        </ul>
      </li>
  <% else %>
    <%= link_to t('.sign_in_with_facebook'), user_omniauth_authorize_path(:facebook), 
          class: "btn btn-primary btn-small" %>
  <% end %>
  </ul>
</div>
