<div class="container">
  <ul class="nav pull-right">
  <% if user_signed_in? %>
     <%= render 'shared/navbar/user_links/user_dropdown'%> 
  <% else %>
    <%= render 'shared/navbar/user_links/sign_in_with_fb_link' %>
  <% end %>
  </ul>
</div>
