<div class="post_controls">
  <span class="post_control"><%= link_to 'expand', '#' %></span>
  <span class="post_control"><%= link_to 'share', '#' %></span>
  <span class="post_control"><%= link_to 'vote-up', '#' %></span>
  <span class="post_control"><%= link_to 'vote-down', '#' %></span>
</div>

<div class="post_controls_hide">

</div>
