<div class="row-fluid other-div">
  <div class="span6">
    <%= render 'shared/tags', post: post if post.class.name == 'Question' %>
  </div>
  <div class="span6">
    <%= render 'shared/asker', post: post %>
  </div>
</div>

