<div class="preview-div collapsed">
  <%=raw sanitize(simple_format(truncate(post.content, :length => 200)), :tags => %w(br p) ) %>
</div>
<div class="preview-div expanded">
  <p>
    <%= post.content %>
  </p>
</div>
